body {
    background-color: rgb(10, 10, 10);
    /* color-mix(in oklab,color-mix(in oklab,var(--color-red-950)50%,transparent)var(--tw-shadow-alpha),transparent) */
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 24px;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid {
    display: grid;
    width: 45vw;
    height: 20vw;
    gap: 0.5px;
    background-color: rgb(10, 10, 10);
}

.square {
    user-select: none;
    border-right: 1px solid grey;
    border: 1px solid grey;
    box-sizing: border-box;
}

.square:hover {
    opacity: 0.5;
    background-color: gray;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.color {
    width: 20px;
    height: 20px;
    border: 1px solid white;
}